*/*/.DS_Store
*/.DS_Store
output/*/.DS_Store
output/.DS_Store
.DS_Store
*.DS_Store
*.fdb_latexmk
*.fls
*.log
*.pyc
*/.jekyll*
*.aux
*.aux
*.blg
*.fdb_latexmk
*.fls
*.log
*.pdf
*.gz
*.synctex(busy)
*.blg
writing/abstracts/~$stract.nacct.2024.docx
data/mongodump/*
!data/*.jsonl
data/~$snapshot.05062024.xlsx
